.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  border-radius: 12px;
  background-color: chartreuse;
  /* display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40vw; */
}

/* .center-text {
  text-align: center;
}
 */



body {
  background: linear-gradient(-100deg, #96fbc4 0%, #f9f586 100%);
  background-size: cover;
  font-family: 'Your Preferred Font', sans-serif;
  /* background-color: #8a2be2; */
}

/* .bg-body-tertiary {
  background-color: #ff0000; /* Replace with your desired color */
/* }  */
/* bac */
.redNavbar{
  background-color: red;
}